<a href="https://colab.research.google.com/github/jejec0703/TIL/blob/master/2_K%EB%B2%88%EC%A7%B8_%EC%88%98%2C_K%EB%B2%88%EC%A7%B8_%ED%81%B0_%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. k번째 수

- N개의 숫자로 이루어진 숫자열이 주어지면 해당 숫자열중에서 s번째부터 e번째 까지의 수를 오름 차순 정렬했을 때 k번째로 나타나는 숫자를 출력하는 프로그램을 작성하세요.  
- 첫 번째 줄에 테스트 케이스 T(1<=T<=10)이 주어집니다. 각 케이스별 첫 번째 줄은 자연수 N(5<=N<=500), s, e, k가 차례로 주어진다. 두 번째 줄에 N개의 숫자가 차례로 주어진다.

In [ ]:
''' input.txt
2
6 2 5 3
5 2 7 3 8 9
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15'''

In [16]:
T = int(input())
for t in range(T):
  n, s, e, k = map(int, input().split())
  num_list = list(map(int, input().split()))
  num_list = num_list[s-1:e]
  num_list.sort()
  print('#', t+1, num_list[k-1])

2
6 2 5 3
5 2 7 3 8 9
# 1 7
15 3 10 3
4 15 8 16 6 6 17 3 10 11 18 7 14 7 15
# 2 6

#3. k번째 큰 수

- 현수는 1부터 100사이의 자연수가 적힌 N장의 카드를 가지고 있습니다. 같은 숫자의 카드가 여러장 있을 수 있습니다. 현수는 이 중 3장을 뽑아 각 카드에 적힌 수를 합한 값을 기록하려 고 합니다. 3장을 뽑을 수 있는 모든 경우를 기록합니다. 기록한 값 중 K번째로 큰 수를 출력 하는 프로그램을 작성하세요. 만약 큰 수부터 만들어진 수가 25 25 23 23 22 20 19......이고 K값이 3이라면 K번째 큰 값 은 22입니다.

- 입력 : 첫 줄에 자연수 N(3<=N<=100)과 K(1<=K<=50) 입력되고, 그 다음 줄에 N개의 카드값이 입력 된다

- 출력 : 첫 줄에 K번째 수를 출력합니다. K번째 수는 반드시 존재합니다.

In [ ]:
'''
10 3
13 15 34 23 45 65 33 11 26 42'''

'''
143
'''

In [21]:
n, k = map(int, input().split())
num_list = list(map(int, input().split()))
res = set()
for i in range(n):
  for j in range(i+1, n):
    for m in range(j+1, n):
      res.add(num_list[i] + num_list[j] + num_list[m])
res = list(res)
res.sort(reverse=True)
print(res[k-1])

10 3
13 15 34 23 45 65 33 11 26 42
143

## 최소값 구하기

In [24]:
arr = [5, 3, 7, 9, 2, 5, 2, 6]

In [25]:
### 1 ###
arrMin = min(arr)
arrMin

2

In [29]:
### 2 ###
arrMin = float('inf')
for i in range(len(arr)):
  if arr[i] < arrMin:
    arrMin = arr[i]
print(arrMin)

2

In [30]:
### 3 ###
arrMin = arr[0]
for i in range(len(arr)):
  if arr[i] < arrMin:
    arrMin = arr[i]
print(arrMin)

2

In [32]:
### 4 ###
arrMin = float('inf')
for x in arr:
  if x < arrMin:
    arrMin = x
print(arrMin)

2