<a href="https://colab.research.google.com/github/jejec0703/TIL/blob/master/%EA%B8%B4%EA%B8%89%EC%9E%AC%EB%82%9C%EC%A7%80%EC%9B%90%EA%B8%88_Huseholds_Sum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dacon 제주 신용카드 경진대회 분석용
추가 데이터 정리

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving SIDO_SUBSIDIES_(DAILY).csv to SIDO_SUBSIDIES_(DAILY).csv

In [ ]:
%pwd

'/content'

In [ ]:
path = '/content/SIDO_SUBSIDIES_(DAILY).csv'
with open(path, 'r', encoding='euc-kr') as f:
  buf = f.read()
  print(buf)

REG_YYMMDD,CARD_SIDO_NM,HOUSEHOLDS_DAILY
20200511,서울,399881
,부산,109374
,대구,85133
,인천,107629
,광주,51739
,대전,60489
,울산,40333
,세종,15389
,경기,476546
,강원,45776
,충북,53131
,충남,72276
,전북,47557
,전남,42580
,경북,79372
,경남,98087
,제주,22423
20200512,서울,830958
,부산,227672
,대구,174843
,인천,222296
,광주,107631
,대전,125763
,울산,83759
,세종,31953
,경기,991454
,강원,95940
,충북,111298
,충남,151399
,전북,98763
,전남,89361
,경북,164182
,경남,204884
,제주,47089
20200513,서울,1265292
,부산,346493
,대구,262931
,인천,336120
,광주,164369
,대전,191401
,울산,127745
,세종,48376
,경기,1505353
,강원,146759
,충북,170269
,충남,231821
,전북,150672
,전남,137370
,경북,249997
,경남,314123
,제주,72327
20200514,서울,1722575
,부산,474727
,대구,357408
,인천,456370
,광주,224246
,대전,260946
,울산,174857
,세종,65801
,경기,2043528
,강원,200157
,충북,233170
,충남,317268
,전북,207104
,전남,189157
,경북,342734
,경남,430991
,제주,100208
20200515,서울,2194805
,부산,610020
,대구,454408
,인천,582480
,광주,286417
,대전,333409
,울산,224315
,세종,83525
,경기,2597831
,강원,257344
,충북,299217
,충남,408083
,전북,267150
,전남,244859
,경북,441554
,경남,556436
,제주,129579
20200516,서울,2447128
,부산,688765
,대구,504337
,인천,721942
,광주,318035
,대전,374722
,울산,252361
,세종,92386
,경기,3041822
,강원,297234
,충북,341579
,충남,462039
,전북,300918
,전남,281796
,경북,498628
,경남,633438
,제주,144691
20200518,서울,2650545
,부산,760770
,대구,546446
,인천,708450
,광주,348355
,대전,411970
,울산,281532
,세종,99428
,경기,3195654
,강원,328934
,충북,376654
,충남,516592
,전북,343030
,전남,323440
,경북,566638
,경남,716713
,제주,164718
20200521,서울,2902765
,부산,855168
,대구,599283
,인천,774439
,광주,385380
,대전,469426
,울산,316751
,세종,107843
,경기,3533897
,강원,376859
,충북,428423
,충남,585479
,전북,399113
,전남,376287
,경북,658551
,경남,831836
,제주,191802
20200523,서울,2954513
,부산,879687
,대구,610100
,인천,787515
,광주,392527
,대전,482733
,울산,323180
,세종,109571
,경기,3620960
,강원,386212
,충북,438325
,충남,598733
,전북,410323
,전남,387017
,경북,675225
,경남,853417
,제주,197780
20200524,서울,2962307
,부산,882121
,대구,611294
,인천,788994
,광주,393458
,대전,483871
,울산,323778
,세종,109875
,경기,3637201
,강원,387073
,충북,439239
,충남,599878
,전북,411376
,전남,388174
,경북,676387
,경남,855180
,제주,198235
20200525,서울,2987621
,부산,892912
,대구,615763
,인천,795207
,광주,397002
,대전,490049
,울산,326516
,세종,110648
,경기,3684326
,강원,391610
,충북,443736
,충남,605452
,전북,417430
,전남,393771
,경북,683205
,경남,864421
,제주,200992
20200526,서울,3002601
,부산,898939
,대구,618457
,인천,798696
,광주,399089
,대전,493436
,울산,327930
,세종,111181
,경기,3713149
,강원,393902
,충북,446197
,충남,608415
,전북,420655
,전남,396854
,경북,686579
,경남,869105
,제주,202630
20200527,서울,3012877
,부산,903007
,대구,620159
,인천,801148
,광주,400461
,대전,495769
,울산,328892
,세종,111499
,경기,3733387
,강원,395448
,충북,447819
,충남,610460
,전북,422967
,전남,399031
,경북,688818
,경남,872073
,제주,203626
20200528,서울,3020134
,부산,905855
,대구,621304
,인천,802841
,광주,401505
,대전,497431
,울산,329529
,세종,111744
,경기,3748241
,강원,396588
,충북,448953
,충남,611865
,전북,424525
,전남,400652
,경북,690430
,경남,874072
,제주,204367
20200531,서울,3031147
,부산,909612
,대구,622920
,인천,805059
,광주,402864
,대전,499401
,울산,330343
,세종,112162
,경기,3770059
,강원,397990
,충북,450368
,충남,613581
,전북,426422
,전남,402447
,경북,692251
,경남,876491
,제주,205223
20200601,서울,3035029
,부산,911225
,대구,623419
,인천,805995
,광주,403359
,대전,500230
,울산,330646
,세종,112345
,경기,3778231
,강원,398604
,충북,450924
,충남,614382
,전북,427207
,전남,403199
,경북,692963
,경남,877596
,제주,205672
20200602,서울,3037799
,부산,912266
,대구,623782
,인천,806600
,광주,403693
,대전,500832
,울산,330858
,세종,112462
,경기,3784064
,강원,398998
,충북,451276
,충남,614937
,전북,427690
,전남,403711
,경북,693455
,경남,878317
,제주,205932
20200603,서울,3043103
,부산,913117
,대구,624092
,인천,807102
,광주,403983
,대전,501244
,울산,331034
,세종,112572
,경기,3788746
,강원,399341
,충북,451600
,충남,615397
,전북,428085
,전남,404110
,경북,693829
,경남,878928
,제주,206159
20200604,서울,3042374
,부산,913827
,대구,624386
,인천,807568
,광주,404224
,대전,501640
,울산,331199
,세종,112661
,경기,3792785
,강원,399626
,충북,451955
,충남,615829
,전북,428477
,전남,404458
,경북,694180
,경남,879453
,제주,206394
20200607,서울,3045732
,부산,914750
,대구,624813
,인천,808212
,광주,404571
,대전,502161
,울산,331420
,세종,112806
,경기,3798809
,강원,399961
,충북,452355
,충남,616354
,전북,428931
,전남,404948
,경북,694609
,경남,880095
,제주,206656
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,
,,

In [ ]:
import pandas as pd
Data = pd.read_csv('/content/SIDO_SUBSIDIES_(DAILY).csv', encoding='euc-kr')
Data.tail(30)

     REG_YYMMDD CARD_SIDO_NM  HOUSEHOLDS_DAILY
327         NaN           광주          404571.0
328         NaN           대전          502161.0
329         NaN           울산          331420.0
330         NaN           세종          112806.0
331         NaN           경기         3798809.0
332         NaN           강원          399961.0
333         NaN           충북          452355.0
334         NaN           충남          616354.0
335         NaN           전북          428931.0
336         NaN           전남          404948.0
337         NaN           경북          694609.0
338         NaN           경남          880095.0
339         NaN           제주          206656.0
340         NaN          NaN               NaN
341         NaN          NaN               NaN
342         NaN          NaN               NaN
343         NaN          NaN               NaN
344         NaN          NaN               NaN
345         NaN          NaN               NaN
346         NaN          NaN               NaN
347         NaN          NaN               NaN
348         NaN          NaN               NaN
349         NaN          NaN               NaN
350         NaN          NaN               NaN
351         NaN          NaN               NaN
352         NaN          NaN               NaN
353         NaN          NaN               NaN
354         NaN          NaN               NaN
355         NaN          NaN               NaN
356         NaN          NaN               NaN

In [ ]:
Data = Data.drop(Data.index[340:357])
Data

     REG_YYMMDD CARD_SIDO_NM  HOUSEHOLDS_DAILY
0    20200511.0           서울          399881.0
1           NaN           부산          109374.0
2           NaN           대구           85133.0
3           NaN           인천          107629.0
4           NaN           광주           51739.0
..          ...          ...               ...
335         NaN           전북          428931.0
336         NaN           전남          404948.0
337         NaN           경북          694609.0
338         NaN           경남          880095.0
339         NaN           제주          206656.0

[340 rows x 3 columns]

In [ ]:
Data_re = Data[['REG_YYMMDD', 'CARD_SIDO_NM', 'HOUSEHOLDS_DAILY']]
Data_re

     REG_YYMMDD CARD_SIDO_NM  HOUSEHOLDS_DAILY
0    20200511.0           서울          399881.0
1           NaN           부산          109374.0
2           NaN           대구           85133.0
3           NaN           인천          107629.0
4           NaN           광주           51739.0
..          ...          ...               ...
335         NaN           전북          428931.0
336         NaN           전남          404948.0
337         NaN           경북          694609.0
338         NaN           경남          880095.0
339         NaN           제주          206656.0

[340 rows x 3 columns]

In [ ]:
# Data_sum = Data_re.groupby(['REG_YYMMDD', 'CARD_SIDO_NM',]).agg(['sum']).reset_index()

In [ ]:
SEOUL = Data[Data['CARD_SIDO_NM']=='서울']
SEOUL['HOUSEHOLDS_DAILY'].sum()

50589186.0

In [ ]:
BUSAN = Data[Data['CARD_SIDO_NM']=='부산']
BUSAN['HOUSEHOLDS_DAILY'].sum()

14910307.0

In [ ]:
DAEGU = Data[Data['CARD_SIDO_NM']=='대구']
DAEGU['HOUSEHOLDS_DAILY'].sum()

10425278.0

In [ ]:
INCHEON = Data[Data['CARD_SIDO_NM']=='인천']
INCHEON['HOUSEHOLDS_DAILY'].sum()

13524663.0

In [ ]:
GWANGJU = Data[Data['CARD_SIDO_NM']=='광주']
GWANGJU['HOUSEHOLDS_DAILY'].sum()

6692908.0

In [ ]:
DAEJEON = Data[Data['CARD_SIDO_NM']=='대전']
DAEJEON['HOUSEHOLDS_DAILY'].sum()

8176923.0

In [ ]:
ULSAN = Data[Data['CARD_SIDO_NM']=='울산']
ULSAN['HOUSEHOLDS_DAILY'].sum()

5446978.0

In [ ]:
SEJONG = Data[Data['CARD_SIDO_NM']=='세종']
SEJONG['HOUSEHOLDS_DAILY'].sum()

1884227.0

In [ ]:
GYEONGGI = Data[Data['CARD_SIDO_NM']=='경기']
GYEONGGI['HOUSEHOLDS_DAILY'].sum()

62236043.0

In [ ]:
GANGWON = Data[Data['CARD_SIDO_NM']=='강원']
GANGWON['HOUSEHOLDS_DAILY'].sum()

6494356.0

In [ ]:
CHUNGBUK = Data[Data['CARD_SIDO_NM']=='충북']
CHUNGBUK['HOUSEHOLDS_DAILY'].sum()

7386488.0

In [ ]:
JEONBUK = Data[Data['CARD_SIDO_NM']=='전북']
JEONBUK['HOUSEHOLDS_DAILY'].sum()

6888395.0

In [ ]:
JEONNAM = Data[Data['CARD_SIDO_NM']=='전남']
JEONNAM['HOUSEHOLDS_DAILY'].sum()

6473222.0

In [ ]:
GYEONBUK = Data[Data['CARD_SIDO_NM']=='경북']
GYEONBUK['HOUSEHOLDS_DAILY'].sum()

11263587.0

In [ ]:
GYEONGNAM = Data[Data['CARD_SIDO_NM']=='경남']
GYEONGNAM['HOUSEHOLDS_DAILY'].sum()

14245656.0

In [ ]:
JEJU = Data[Data['CARD_SIDO_NM']=='제주']
JEJU['HOUSEHOLDS_DAILY'].sum()

3316503.0